<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='css/bootstrap.css' rel='stylesheet'>
    <title>0105_Rails_Connexion_du_MVC</title>


</head>
<body>
<div id="includedContent"></div>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h1>05 - Connexion du MVC</h1>
            <p>A présent que nous avons enregistré les films dans la base de données et qu'un modèle «movie.rb » nous donne accès à ces derniers, il est temps de connecter le modèle au reste de l'application. Le but final est d'afficher une page listant les films enregistrés dans la base de données.</p>

            <p>C'est un exercice rapide qui permet de rassembler la « triade » MVC.
            1. Connecter le modèle et le contrôleur
            1. Pour se souvenir de ce que nous avons fait, retournons dans le navigateur à la page http://localhost:3000/movies. Vous devriez voir trois titres de film.</p>

            Rappelez vous que nous avons écrit en dur ces titres dans un array (tableau) dans l'action index (def index) du fichier contrôleur « movies_controller.rb ».
<pre>def index
    @movies = ['Iron Man', 'Superman', 'Spider-Man']
    end</pre>
            Nous avons vu que nous pouvions interroger la base de données et afficher tout les film en tapant dans le terminal "@movies =Movie.all"

            Nous modifions l'action "index" en affectant à la variable "@movies" en écrivant à la place

            def index
            @movies = Movie.all
            end

            Nous allons appeler cette action "index" dans la vue "index.html.erb" et affichons les valeurs pour chaque film.

            <h1>Liste des films</h1>
            <ul>
                <% @movies.each do |m| %>
                <li><strong><%= m.titre%></strong> - <%= m.autorisation %> - <%= m.chiffre_affaire%></li>
                <% end %>
            </ul>

            2. A présent la liste des films s'affiche de façon dynamique. Cela veut dire que pour l'instant, nous pouvons créer, modifier, détruire des enregistrements dans la console (nous n'avons pas encore d'interface web) et les lire le résultat sur la page web.

            Faites des test dans la console... et rafraîchissez la page web...

            3. Juste pour flamber un peu formatons le chiffre d'affaire comme une monnaie (currency).

            Rails à une méthode de formatage de nombre qui s'appelle "number_to_currency"

            <h1>Liste des films</h1>
            <ul>
                <% @movies.each do |m| %>
                <li><strong><%= m.titre%></strong> - <%= m.autorisation %> - <%= number_to_currency(m.chiffre_affaire)%></li>
                <% end %>
            </ul>

            On recharge la page web et ...
            Liste des films

            Iron Man 2 - Plus de 10 ans - $500,000,000.00
            Bat man - Plus de 12 ans - $400,000,000.00
            Super Man - Plus de 8 ans - $600,000,000.00
            C'est cool, mais c'est en dollar et formaté à l'américaine... :-( On va voir comment régler ça... c'est pénible cette histoire...

            On peut dans un premier temps faire ça...

            <%= number_to_currency(m.chiffre_affaire,unit: "€", separator: ",", delimiter: "", format: "%n %u")%>

            Mais bon...

            Questionnaire récapitulatif...

            Vocabulary Check
            Learning a new web development framework can feel a bit like learning a foreign language. Here's a bonus exercise to help you practice your new skills.

            The ________ connects the requested URL to the appropriate code in the controller.

            Show Answer

            Controllers and models share two similar characteristics. They are both Ruby ________ and they both _________ capabilities from a parent class.

            Show Answer

            Are controller names singular or plural?

            Show Answer

            Are model names singular or plural?

            Show Answer

            Are database table names singular or plural?

            Show Answer

            The model gets its power to create, read, update, and delete objects not by magic, but because it __________ from the _________________::Base class.

            Show Answer

            An _________ is simply a Ruby method defined inside a controller class.

            Show Answer

            A controller action passes data to the view via ___________ ____________.

            Show Answer

            A typical _____ template is a mixture of ______ tags and _____ tags.

            Show Answer

            Which ERb tag runs the Ruby code and substitutes the result back into the template: <%= %> or <% %>?

            Show Answer



            Conclusion

            Maintenant, vous avez un model, une vue et un controller fonctionnant  en harmonie. Chaque composant a ses propres responsabilités.



            Wrap Up

            Now you have a model, view, and controller all working in harmony. Each component has its own responsibilities:

            The controller acts as a middleman. With one hand, it asks the model for application data (movies in this case) and assigns the data to instance variables. With the other hand it tells a view template to display the data in a view. Notice that the controller doesn't tell the model or view how to do their jobs.

            The model provides convenient access to application-level data. In this case, our Movie model is connected to a database table that contains movie information. The model completely encapsulates the lower-level details of how each row of the database table is translated into a usable object. The model isn't concerned with how the data will be used. Models can also define business logic (behavior) which we'll look at a bit later.

            The view is simply the presentation of data in an arbitrary format. In this case we used a view template to generate an HTML view. The view doesn't concern itself with how the data it's displaying was assembled.

            Here's the thing: It's easy to start adding code to a Rails project and impress your manager with the sheer speed of Rails development. But before you put your hands on the keyboard, it's important to think about where to add the code. Is it a model, view, or controller concern? Because if you start mixing the MVC responsibilities, then you end up with an application that can be very difficult to change down the road. And since change is inevitable, it's best if we're prepared for it. So as we move forward with adding more features, we'll need to be mindful of separating the model, view, and controller concerns.

            And on that note, in the next exercise we'll add a few more attributes to our Movie model. That change will force us to think through the parts of MVC that are affected.





        </div>
    </div>



<!-- jQuery -->
<script src="js/jquery-1.11.3.js"></script>
<script>
    $(document).ready(function () {
        $("#includedContent").load("nav.html");
    });
</script>
<!-- Bootstrap JavaScript -->

<script src="js/bootstrap.min.js"></script>


</body>
</html>
