<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='css/bootstrap.css' rel='stylesheet'>
<link rel="stylesheet" href="css/prism.css">
<title>0105_Rails_Connexion_du_MVC</title>


</head>
<body>
<div id="includedContent"></div>
<div class="container">
<div class="col-md-12">
<div class="row">
<h1>06 - Migrations</h1>
<em>Episode précédent: Nous avons créé une table "movie" en faisant :</em>

<pre><code class="language-ruby"> rails generate model movie titre:string autorisation:string chiffre_affaire:decimal</code></pre>

<strong>ATTENTION : Quand nous ferons référence à la table dans les fichiers de migration, cette dernière devra être au pluriel... (c'est comme ça et pas autrement :)</strong>

<h2>Objectifs</h2>

<p>Oops, nous avons oublié quelques champs quand nous avons créé la table de la base de donnée! Nous aimerions rajouter un champ texte pour un résumé du film et un champ date pour sa date de sortie.
Nous devons donc modifier la base de données, et cela veut dire qu'il est temps pour une nouvelle migration !
</p>
<p>
Les migrations ne sont pas utilisé uniquement pour la création des tables de la base de données, mais elles sont également utilisées pour les modifier.
Chaque nouvelle migration est stockée dans db/migrate et est incrémentée chronologiquement. (chaque nouveau fichier de migration créée est marquée par son moment de création
   <em> ex: 20140205105035_add_fields_to_agence.rb  - YYYYMMDDHHMMSS_add_fields_to_agence.rb)</em>.
</p>
<p>
Bien entendu toute modification à faire sur la base de données peut être faite par n'importe quel autre outil d'administration de base de données, mais le bénéfice d'utiliser les migrations est principalement qu'il simplifie le travail de groupe sur un même projet, qu'il garde une trace de l'historique des modifications par son marquage chronologique.
</p>
<p>Vous créerez de nombreuses migrations jusqu'à l'aboutissement d'une application rails. Il est important de bien les maîtriser.
</p>
<p>Voilà ce que nous allons faire:
<ul>
    <li>Générer un nouveau fichier de migration qui ajoute deux champs à la table "Movie" de la base de données.</li>
<li>Mettre à jour les films existants afin que ces nouveaux champs aient des valeurs.</li>
<li>Changer la page index de la liste des films afin qu'elle affiche les nouveaux champs</li>
</ul>
<h2>1. Ajouter de nouveaux champs à la table</h2>

<p>Premièrement, nous avons besoins d'ajouter les deux champs suivant et leur type à la table "Movie"</p>

nom            type

description    text
sortie_le      date

Notez que nous utilisons un type date pour le champs sortie_le plutôt que datetime. Cela prend du sens car on veut donner uniquement une date de sortie et non pas une date de sortie et une heure.

Pour ajouter ces deux champs, nous aurons besoins de fabriquer un nouveau fichier de migration.

On peut don écrire

rails generate migration AddChampsToMovie  description:text sortie_le:date

En Rails, le fait d'écrire AddXXXXToNomdumodele  permet de d'avoir automatiquement le fichier de migration suivant.
20140424095612_add_champs_to_movies.rb (avec un s à la fin de movies)

class AddChampsToMovies < ActiveRecord::Migration
def change
add_column :movies, :description, :text
add_column :movies, :date_sortie, :date
end
end

Nous pourrions également générer un migration vide (en lui donnant un nom quand même - qqchcommeca-),
rails generate migration qqchcommeca

ce qui générerait comme fichier de  migration (db/migrate/20140424130416_qqchcommeca.rb) suivant :

class Qqchcommeca < ActiveRecord::Migration
def change
end
end

A l'intérieur de la méthode change on peut ajouter autant de colonne que l'on veut en précisant la table, le nom de la colonne, et son type.

A présent, on peut savoir où on en est dans nos migrations entapant

rake db:migrate:status

En fonction de vos manipulations, vous devriez voir

database: db/development.sqlite3

Status   Migration ID    Migration Name
--------------------------------------------------
up     20120914152106  Create movies
down    20120916151045  Add champs to movies

La seconde migration a un status "down" car nous n'avons pas encore lancé la migration.

Lancez la migration

rake db:migrate

==  AddChampsToMovies: migrating ==============================================
-- add_column(:movies, :sortie_le, :date)
-> 0.0006s
-- add_column(:movies, :description, :text)
-> 0.0003s
==  AddChamspsToMovies: migrated (0.0010s) =====================================

Relancez

rake db:migrate:status

database: db/development.sqlite3

Status   Migration ID    Migration Name
--------------------------------------------------
up    20120914152106  Create movies
up    20120916151045  Add champs to movies

A présent nous avons lancé deux migrations. La première a créée la table "movies" et la seconde a ajouté deux nouvelles colonnes à la table.

2. Mise à jour des films
A présent nous avons besoins de mettre à jour les films dans notre base de données en donnant une valeur aux champs que nous venons juste d'ajouter. Pour cela, nous avons besoin d'atteindre chacun des films dans la console et d'assigner une valeur à sa description et à sa date de sortie. Et vous savez déjà comment faire cela !
Ouvrez une nouvelle fenêtre du terminal, allez dans le répertoire « flix » (ou si vous y êtes déjà, soyez sur de travailler avec la dernière version de votre application Rails en utilisant la commande reload! -avec le point d'exclamation juste après-)
flix » reload!
Reloading...
=> true

Puis retrouvez le film « Iron Man 2 »
flix »  m=Movie.find_by(titre:"Iron Man 2")
Movie Load (0.4ms)  SELECT "movies".* FROM "movies" WHERE "movies"."titre" = 'Iron Man 2' LIMIT 1
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| id | titre      | autorisation   | chiffre_affaire | created_at              | updated_at              | description | date_sortie |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| 1  | Iron Man 2 | Plus de 10 ans | 500000000.0     | 2014-04-22 11:26:11 UTC | 2014-04-25 07:59:45 UTC |             |             |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
1 row in set
Nous voyons à présent les deux colonnes que nous venons d'ajouter.Elles n'ont pas de valeurs.
Rajoutons une valeur au champs "description":
flix »  m.update(description:"Super film")
(0.1ms)  begin transaction
SQL (0.4ms)  UPDATE "movies" SET "description" = ?, "updated_at" = ? WHERE "movies"."id" = 1  [["description", "Super film"], ["updated_at", Fri, 25 Apr 2014 08:03:42 UTC +00:00]]
(160.8ms)  commit transaction
=> true
[55] flix »  m=Movie.find_by(titre:"Iron Man 2")
Movie Load (0.3ms)  SELECT "movies".* FROM "movies" WHERE "movies"."titre" = 'Iron Man 2' LIMIT 1
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| id | titre      | autorisation   | chiffre_affaire | created_at              | updated_at              | description | date_sortie |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| 1  | Iron Man 2 | Plus de 10 ans | 500000000.0     | 2014-04-22 11:26:11 UTC | 2014-04-25 08:03:42 UTC | Super film  |             |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
1 row in set

Rajoutons une valeur au champs "date_sortie":

flix »  m.update(date_sortie:"2012-10-21")
(0.1ms)  begin transaction
SQL (0.3ms)  UPDATE "movies" SET "date_sortie" = ?, "updated_at" = ? WHERE "movies"."id" = 1  [["date_sortie", Sun, 21 Oct 2012], ["updated_at", Fri, 25 Apr 2014 08:04:32 UTC +00:00]]
(158.1ms)  commit transaction
=> true
[57] flix »  m=Movie.find_by(titre:"Iron Man 2")
Movie Load (0.3ms)  SELECT "movies".* FROM "movies" WHERE "movies"."titre" = 'Iron Man 2' LIMIT 1
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| id | titre      | autorisation   | chiffre_affaire | created_at              | updated_at              | description | date_sortie |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
| 1  | Iron Man 2 | Plus de 10 ans | 500000000.0     | 2014-04-22 11:26:11 UTC | 2014-04-25 08:04:32 UTC | Super film  | 2012-10-21  |
+----+------------+----------------+-----------------+-------------------------+-------------------------+-------------+-------------+
1 row in set
Puis faite de même avec les film « Bat Man » et « Superman », mais ce coup ci en passant les deux valeurs en une seule commande...
Pensez à rappelez le bon film avant de faire les rajouts...
On rapelle "Bat Man"
flix »  m=Movie.find_by(titre:"Bat man")
Movie Load (0.6ms)  SELECT "movies".* FROM "movies" WHERE "movies"."titre" = 'Bat man' LIMIT 1
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
| id | titre   | autorisation   | chiffre_affaire | created_at              | updated_at              | description                       | date_sortie |
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
| 3  | Bat man | Plus de 12 ans | 400000000.0     | 2014-04-22 16:53:08 UTC | 2014-04-25 08:13:40 UTC | Film avec des souris sans cheveux | 2010-08-13  |
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
1 row in set

Et on le met à jour...
flix »  m.update(description:"Film avec des souris sans cheveux",date_sortie:"2010-08-13")
(0.1ms)  begin transaction
SQL (0.5ms)  UPDATE "movies" SET "description" = ?, "date_sortie" = ?, "updated_at" = ? WHERE "movies"."id" = 3  [["description", "Film avec des souris sans cheveux"], ["date_sortie", Fri, 13 Aug 2010], ["updated_at", Fri, 25 Apr 2014 08:13:40 UTC +00:00]]
(162.5ms)  commit transaction
=> true
[61] flix »  m=Movie.find(3)
Movie Load (0.2ms)  SELECT "movies".* FROM "movies" WHERE "movies"."id" = ? LIMIT 1  [["id", 3]]
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
| id | titre   | autorisation   | chiffre_affaire | created_at              | updated_at              | description                       | date_sortie |
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
| 3  | Bat man | Plus de 12 ans | 400000000.0     | 2014-04-22 16:53:08 UTC | 2014-04-25 08:13:40 UTC | Film avec des souris sans cheveux | 2010-08-13  |
+----+---------+----------------+-----------------+-------------------------+-------------------------+-----------------------------------+-------------+
1 row in set


Pour "Super Man"
flix »  m=Movie.find_by(titre:"Super Man")
Movie Load (0.3ms)  SELECT "movies".* FROM "movies" WHERE "movies"."titre" = 'Super Man' LIMIT 1
+----+-----------+---------------+-----------------+-------------------------+-------------------------+------------------------+-------------+
| id | titre     | autorisation  | chiffre_affaire | created_at              | updated_at              | description            | date_sortie |
+----+-----------+---------------+-----------------+-------------------------+-------------------------+------------------------+-------------+
| 4  | Super Man | Plus de 8 ans | 600000000.0     | 2014-04-23 09:52:07 UTC | 2014-04-25 08:17:46 UTC |                        |             |
+----+-----------+---------------+-----------------+-------------------------+-------------------------+------------------------+-------------+
1 row in set

On le met à jour ...
flix »  m.update(description:"Film avec un mec super",date_sortie:"1980-10-03")
(0.1ms)  begin transaction
SQL (0.7ms)  UPDATE "movies" SET "description" = ?, "date_sortie" = ?, "updated_at" = ? WHERE "movies"."id" = 4  [["description", "Film avec un mec super"], ["date_sortie", Fri, 03 Oct 1980], ["updated_at", Fri, 25 Apr 2014 08:17:46 UTC +00:00]]
(131.1ms)  commit transaction
=> true

3. Mettez à jour la page index.html.erb pour qu'elle affiche les nouveaux champs. Vous savez déjà comment faire ça… !

Si vous rafraîchissez actuellement la page index  dans votre navigateur, c'est sans surprise que n’apparaîtront pas les champs la description ou la date de sortie des films

Pour régler cela , rajoutez chaque nouveaux champs dans une balise Ruby <%= nomduchamp %>
Vous pouvez mettre ces deux champs à l'intérieur d'une balise paragraphe <p> </p>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>
</html>
<body>
<h1>Liste des films</h1>
<ul>
<% @movies.each do |m| %>
<li><strong><%= m.titre%></strong> - <%= m.autorisation %> - <%= number_to_currency(m.chiffre_affaire,unit: "€", separator: ",", delimiter: "", format: "%n %u")%>
    <p><%= m.description%> - <%= m.date_sortie%></li> </p>
<% end %>
</ul>


Cela termine ce rajout de fonctionnalités  !
Nous avons rajouté des colonnes manquantes à la base de données et ces rajouts se reflètent dans la page de listing des films.
Nous n'avons pas touché à l'action « index » de movie_controller.rb Et c'est exactement comme cela doit être.




</div>
</div>

</div>
<!-- jQuery -->
<script src="js/jquery-1.11.3.js"></script>
<script>
$(document).ready(function () {
$("#includedContent").load("nav.html");
});
</script>
<!-- Bootstrap JavaScript -->

<script src="js/bootstrap.min.js"></script>
<script src="js/prism.js"></script>

</body>
</html>
